<!DOCTYPE html>
<html>
<head>
    <title>Joined Session</title>
    <link rel="stylesheet" type="text/css" href="https://thoretro.s3.amazonaws.com/static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://thoretro.s3.amazonaws.com/static/js/sessionScripts.js" defer></script>
</head>
<body>
    <div class="section" id="glad-section">
        <h1>Glad Messages</h1>
        <div id="user-count"></div>
        <ul id="glad-list" class="message-list"></ul>
        <input type="text" id="message-glad" placeholder="Enter your message">
        <button onclick="addMessage('glad')">Add Message</button>
    </div>
    <div class="section" id="sad-section">
        <h1>Sad Messages</h1>
        <ul id="sad-list" class="message-list"></ul>
        <input type="text" id="message-sad" placeholder="Enter your message">
        <button onclick="addMessage('sad')">Add Message</button>
    </div>
    <div class="section" id="mad-section">
        <h1>Mad Messages</h1>
        <ul id="mad-list" class="message-list"></ul>
        <input type="text" id="message-mad" placeholder="Enter your message">
        <button onclick="addMessage('mad')">Add Message</button>
    </div>
    <button class="leave-session" onclick="leaveSession()">Leave Session</button>
</body>
</html>
